.menu{
  width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color: black;
}
.menus{
  height: 30px;
  padding-top: 5px;
  width: 10vw;
  text-align: center;
}